body {
  font-family: Oxygen;
  color: #0f044c;
}

h1 {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.units a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

.weather-temperature img {
  margin-right: 8px;
  position: relative;
  top: -16px;
}

.weather-temperature strong {
  font-size: 60px;
  font-weight: 100;
  line-height: 1;
}

.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -32px;
}

.weather-temperature .active {
  color: #0f044c;
  cursor: default;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 14px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
